psycopg2-binary
sqlalchemy
chromadb
bcrypt
langchain-community
langchain
langgraph
pypdf
sentence-transformers
langchain-chroma
redis
python-jose
fastapi
uvicorn
langchain-google-genai
langchain-groq
python-dotenv
aiofiles